<div id="room-container">
  <div>
    <app-user></app-user>
    <div id="media-buttons-control">
      <button mat-mini-fab color="accent" title="Open settings" (click)="openSettings()">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-mini-fab color="accent" [title]="chatLabel" (click)="toggleChat()">
        <mat-icon>{{chatIcon}}</mat-icon>
      </button>
      <button mat-mini-fab color="accent" [title]="audioLabel" (click)="toggleAudio()">
        <mat-icon>{{audioIcon}}</mat-icon>
      </button>
      <button mat-mini-fab color="accent" [title]="videoLabel" (click)="toggleVideo()">
        <mat-icon>{{videoIcon}}</mat-icon>
      </button>
      <button mat-mini-fab color="accent" title="Leave room" (click)="leaveRoom()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </div>
  <div id="room-content-container" [class.is-chat-closed]="!chat">
    <div id="room-video-call-container">
      <div class="video-cell" [class.hidden]="!users.length">
        <app-video-view [user]="currentRoomUser"></app-video-view>
      </div>
      <div id="waiting-title" *ngIf="!users.length">
        <div>
          <mat-progress-spinner
            class="example-margin"
            color="accent"
            diameter="70"
            mode="indeterminate">
          </mat-progress-spinner>
        </div>
        <div>
          Waiting for another users...
        </div>
      </div>
      <div class="video-cell" *ngFor="let user of users">
        <app-video-view [user]="user"></app-video-view>
      </div>
    </div>
    <div id="room-chat-container">
      <app-chat [roomId]="currentRoomId"></app-chat>
    </div>
  </div>
  <section id="error-container" *ngIf="!!error">
    <h1>{{error}}</h1>
    <button mat-raised-button color="accent" title="Search another room" (click)="goToSearchPage()">
      <mat-icon>search</mat-icon>
      Search another room
    </button>
  </section>
</div>
