#room-container,
#room-content-container {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 100%;
  flex-direction: column;
}

#room-container {
  height: calc(100% - 60px);
}

#room-container > div {
  display: flex;
  justify-content: space-between;
}

#room-content-container {
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

#room-video-call-container,
#room-chat-container {
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

#room-video-call-container {
  width: calc(75% - 10px);
  height: calc(100% - 1px);
}

#room-chat-container {
  width: 25%;
}

:host ::ng-deep #room-video-call-container .mat-grid-tile-content,
:host ::ng-deep #room-video-call-container .mat-grid-tile-content > * {
  width: 100%;
  height: 100%;
}

:host ::ng-deep #room-video-call-container .mat-grid-list {
  height: 100% !important;
  overflow: auto;
}

#media-buttons-control {
  height: 100%;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 1em;
}

#self-video-container {
  width: 330px;
  height: 180px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
  top: calc(100% - 220px);
  left: 20px;
  background: #5f5252 url("~/src/assets/videocam_off_black_24dp.svg") no-repeat center center;
  background-size: 20% auto;
}

#self-video-container video {
  width: 100%;
  height: 100%;
}

#waiting-title {
  text-align: center;
  text-transform: uppercase;
}
