#room-container,
#room-content-container {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 100%;
  flex-direction: column;
}

#room-container {
  overflow: hidden;
}

#room-container > div {
  display: flex;
  justify-content: space-between;
}

#room-content-container {
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  height: calc(100% - 61px);
}

#room-video-call-container,
#room-chat-container {
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

#room-content-container #room-video-call-container {
  width: calc(75% - 10px);
  height: calc(100% - 1px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

#room-content-container #room-chat-container {
  width: 25%;
}

#room-content-container.is-chat-closed #room-video-call-container {
  width: 100%;
  height: calc(100% - 1px);
}

#room-content-container.is-chat-closed #room-chat-container {
  display: none;
}

#media-buttons-control {
  height: 100%;
  width: 230px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 1em;
}

#waiting-title {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin-top: 1em;
}

#waiting-title > div:first-child {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.video-cell {
  width: 30%;
  max-height: 60%;
  flex: 0.05 1 auto;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  #room-content-container #room-video-call-container {
    width: 100%;
    display: none;
  }

  #room-content-container #room-chat-container {
    width: 100%;
    margin-left: 15px;
  }

  #room-content-container.is-chat-closed #room-video-call-container {
    display: flex;
  }

  #room-content-container.is-chat-closed #room-chat-container {
    display: none;
  }

  .video-cell {
    flex: 0.4 1 auto;
  }
}
